body {
    font-family: sans-serif;
    margin-left: 55px;
    margin-top: 40px;
}
#prof_pic {
    height: 100px;
    width: auto;
    float: left;
    padding: 15px;
}
h2 {
    margin-top: 50px;
    margin-bottom: 0;
    color: green;
    font-family: 'Arbutus Slab', sans-serif;
}
.date_of_entry {
    padding: 0;
    font-size: xx-small;
}
p {
    text-align: left;
}

a.heading {
    text-decoration: none;
}

a.heading:hover {
    text-decoration: underline;
    text-decoration-color: green;
}